* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(111, 107, 107);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  /* padding-right: 2px; */
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: left;
  list-style: none;
}

.nav-links li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
/* 
.burger {
  display: none;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
} */

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    z-index: 1;
    opacity: 0.9;
  }

  .nav-links li {
    opacity: 0;
  }

  /* .burger {
    display: block;
  } */
}

.nav-active {
  display: flex;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line:nth-child(2) {
  opacity: 0;
}

.toggle .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}